{% import "_includes/forms" as forms %}

<div class="readable">
    <blockquote class="note tip">
        <p>
            To determine these values are, navigate to you spaces bucket in DigitalOcean, and copy the "Origin Endpoint", located at the top right.<br>
            The URL will look something like this:<br><br>
            
            <strong>https://[bucket-name].[region].digitaloceanspaces.com</strong><br><br>
            
            The API Endpoint is this URL, without the bucket name, like this:<br><br>
            
            <strong>https://[region].digitaloceanspaces.com</strong><br><br>
            
            The "Region" and "Bucket" settings below are the corresponding <strong>[region]</strong> and <strong>[bucket-name]</strong> values.<br><br>
            
            To be able to set the "Base URL" above, you need to enable the "Files in this filesystem have public URLs" lightswitch.<br> 
            <strong>The value should be the whole "Origin Endpoint" URL. Do not add the subfolder from the "Subfolder" setting below, if you've added one.</strong><br><br>
            
            If you want to use the DigitalOcean Spaces CDN, you need to enable it in the Settings for your bucket in DigitalOcean. You will then be able to see the "CDN Endpoint"-URL
            by selecting it in the dropdown in the top right, where you found the origin URL. <strong>This value should then be used as the Base URL above, while all the other settings below 
            should be as described above</strong>.
        </p>
    </blockquote>
</div>

<hr>

{{ forms.autosuggestField({
    label: "API Endpoint"|t('dospaces'),
    id: 'endpoint',
    class: 'ltr',
    name: 'endpoint',
    suggestEnvVars: true,
    suggestAliases: true,
    value: (fs is defined ? fs.endpoint : null),
    errors: (fs is defined ? fs.getErrors('endpoint') : null),
    required: true,
}) }}

{{ forms.autosuggestField({
    label: "Region"|t('dospaces'),
    id: 'region',
    class: 'ltr',
    name: 'region',
    suggestEnvVars: true,
    suggestAliases: true,
    value: (fs is defined ? fs.region : null),
    errors: (fs is defined ? fs.getErrors('region') : null),
    required: true,
    placeholder: "ams3"|t('dospaces')
}) }}

{{ forms.autosuggestField({
    label: "Bucket"|t('dospaces'),
    id: 'bucket',
    class: 'ltr',
    name: 'bucket',
    suggestEnvVars: true,
    suggestAliases: true,
    value: (fs is defined ? fs.bucket : null),
    errors: (fs is defined ? fs.getErrors('bucket') : null),
    required: true,
    placeholder: "your-bucket-name"|t('dospaces')
}) }}

{{ forms.autosuggestField({
    label: "Subfolder"|t('dospaces'),
    instructions: "If you want to use a bucket’s subfolder as a File System, specify the path to use here."|t('dospaces'),
    id: 'subfolder',
    class: 'ltr',
    name: 'subfolder',
    suggestEnvVars: true,
    suggestAliases: true,
    value: (fs is defined ? fs.subfolder : null),
    errors: (fs is defined ? fs.getErrors('subfolder') : null),
    required: false,
    placeholder: "path/to/subfolder"|t('dospaces')
}) }}


<hr>

<div class="readable">
    <blockquote class="note tip">
        <p>
            Access Key ID and Secret Access Key can be created from the DigitalOcean control panel under "Spaces Object Storage" > "Access Keys" > "Create Access Key".
        </p>
    </blockquote>
</div>

<hr>

{{ forms.autosuggestField({
    label: "Access Key ID"|t('dospaces'),
    id: 'keyId',
    class: 'ltr',
    name: 'keyId',
    suggestEnvVars: true,
    suggestAliases: true,
    value: (fs is defined ? fs.keyId : null),
    errors: (fs is defined ? fs.getErrors('keyId') : null),
    required: true,
}) }}

{{ forms.autosuggestField({
    label: "Secret Access Key"|t('dospaces'),
    id: 'secret',
    class: 'ltr',
    name: 'secret',
    suggestEnvVars: true,
    suggestAliases: true,
    value: (fs is defined ? fs.secret : null),
    errors: (fs is defined ? fs.getErrors('secret') : null),
    required: true,
}) }}


<hr>

{% set cacheInput %}
    {% set expires = (fs.expires|length > 0 ? fs.expires|split(' ') : ['', ''])%}

    <div class="flex">
        <div>
            {{ forms.text({
                id: 'expiresAmount',
                value: expires[0],
                size: 2,
                class: 'do-expires-amount'
            }) }}
        </div>
        {{ forms.select({
            id: 'expiresPeriod',
            options: periods,
            value: expires[1],
            class: 'do-expires-period'
        }) }}
    </div>
    {{ forms.hidden({
        name: "expires",
        value: fs.expires,
        class: "expires-combined"
    }) }}
{% endset %}

{{ forms.field({
    label: "Cache Duration"|t,
    instructions: "The Cache-Control duration that assets should be uploaded to the cloud with.",
    id: 'cacheDuration',
}, cacheInput) }}

{{ forms.selectField({
    label: "Content Disposition"|t,
    instructions: "The Content Disposition is a header indicating if the content is expected to be displayed inline in the browser, that is, as a Web page or as part of a Web page, or as an attachment, that is downloaded and saved locally"|t,
    id: 'contentDisposition',
    name: 'contentDisposition',
    options: contentDispositionOptions,
    value: fs.contentDisposition,
    class: 'do-content-disposition'
}) }}


{% do view.registerAssetBundle("vaersaagod\\dospaces\\DoSpacesBundle") %}
