{% import "_includes/forms" as forms %}

{{ forms.autosuggestField({
    label: "Access Key ID"|t('dospaces'),
    id: 'keyId',
    class: 'ltr',
    name: 'keyId',
    suggestEnvVars: true,
    suggestAliases: true,
    value: (volume is defined ? volume.keyId : null),
    errors: (volume is defined ? volume.getErrors('keyId') : null),
    required: true,
}) }}

{{ forms.autosuggestField({
    label: "Secret Access Key"|t('dospaces'),
    id: 'secret',
    class: 'ltr',
    name: 'secret',
    suggestEnvVars: true,
    suggestAliases: true,
    value: (volume is defined ? volume.secret : null),
    errors: (volume is defined ? volume.getErrors('secret') : null),
    required: true,
}) }}

{{ forms.autosuggestField({
    label: "Endpoint"|t('dospaces'),
    id: 'endpoint',
    class: 'ltr',
    name: 'endpoint',
    suggestEnvVars: true,
    suggestAliases: true,
    value: (volume is defined ? volume.endpoint : null),
    errors: (volume is defined ? volume.getErrors('endpoint') : null),
    required: true,
}) }}

{{ forms.autosuggestField({
    label: "Region"|t('dospaces'),
    id: 'region',
    class: 'ltr',
    name: 'region',
    suggestEnvVars: true,
    suggestAliases: true,
    value: (volume is defined ? volume.region : null),
    errors: (volume is defined ? volume.getErrors('region') : null),
    required: true,
    placeholder: "ams3"|t('dospaces')
}) }}

{{ forms.autosuggestField({
    label: "Bucket"|t('dospaces'),
    id: 'bucket',
    class: 'ltr',
    name: 'bucket',
    suggestEnvVars: true,
    suggestAliases: true,
    value: (volume is defined ? volume.bucket : null),
    errors: (volume is defined ? volume.getErrors('bucket') : null),
    required: true,
    placeholder: "your-bucket-name"|t('dospaces')
}) }}

{{ forms.autosuggestField({
    label: "Subfolder"|t('dospaces'),
    instructions: "If you want to use a bucket’s subfolder as a Volume, specify the path to use here."|t('dospaces'),
    id: 'subfolder',
    class: 'ltr',
    name: 'subfolder',
    suggestEnvVars: true,
    suggestAliases: true,
    value: (volume is defined ? volume.subfolder : null),
    errors: (volume is defined ? volume.getErrors('subfolder') : null),
    required: false,
    placeholder: "path/to/subfolder"|t('dospaces')
}) }}

<hr>

{% set cacheInput %}
    {% set expires = (volume.expires|length > 0 ? volume.expires|split(' ') : ['', ''])%}

    <div class="flex">
        <div>
            {{ forms.text({
                id: 'expiresAmount',
                value: expires[0],
                size: 2,
                class: 'do-expires-amount'
            }) }}
        </div>
        {{ forms.select({
            id: 'expiresPeriod',
            options: periods,
            value: expires[1],
            class: 'do-expires-period'
        }) }}
    </div>
    {{ forms.hidden({
        name: "expires",
        value: volume.expires,
        class: "expires-combined"
    }) }}
{% endset %}

{{ forms.field({
    label: "Cache Duration"|t,
    instructions: "The Cache-Control duration that assets should be uploaded to the cloud with.",
    id: 'cacheDuration',
}, cacheInput) }}

{{ forms.selectField({
    label: "Content Disposition"|t,
    instructions: "The Content Disposition is a header indicating if the content is expected to be displayed inline in the browser, that is, as a Web page or as part of a Web page, or as an attachment, that is downloaded and saved locally"|t,
    id: 'contentDisposition',
    name: 'contentDisposition',
    options: contentDispositionOptions,
    value: volume.contentDisposition,
    class: 'do-content-disposition'
}) }}


{% do view.registerAssetBundle("vaersaagod\\dospaces\\DoSpacesBundle") %}
